
    <div class="bgcolorFooter">
        <footer class="row row-cols-1 py-0 my-0 border-top">
            <div class="col">
                <ul class="nav flex-row justify-content-end mt-1 mb-2">
                    <li class="nav-item mx-3">
                        <a routerLink="/" class="nav-link text-end">Home</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a routerLink="/about" class="nav-link text-end">About</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a routerLink="/contact" class="nav-link text-end">Contact</a>
                    </li>
                </ul>
            </div>
            <p class="text-muted text-center"><b>© 2024 CodeFactory</b></p>
           
        </footer>
    </div>
