#mediabar {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 65px;
    background-color: #2d2d2d;
    padding-top: 30px;
}
#mediabar a {
    color: #ddd;
    display: block;
    padding: 30px 0;
    text-align: center;
}
#mediabar a:hover {
    background-color: #575757;
    color: #fff;
}