.awards {
  text-align: center;
}

h4 {
  text-align: center;
}

.ending {
  text-align: center;
}

.aboutText {
  margin-inline: 30px;
}

.singularPart {
  margin-block: 40px;
}

.shadowImg {
  box-shadow: var(--shadow-box);
}
