<nav class="navbar navbar-expand-lg fixed-top" [class.scrolled]="isScrolled">
  <div class="container-fluid">
    <a routerLink="/"><img
      src='/images/Logo.png'
      alt="Picture Logo"
      class="img-fluid"
      style="height: 60px; filter:invert(100)"
      
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span><i class="fa-solid fa-bars icon"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text" routerLink="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text" routerLink="/about">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text" routerLink="/customers">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text" routerLink="/contact">Contact me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>