:root {
  /* Color palette */
  --green-darkest: #132a13;
  --green-dark: #31572c;
  --green-medium: #264322;
  --green-light: #4f772d;
  --green-lightest: #90a955;
  --cream: #ecf39e;

  /* shadow box */
  --shadow-box: 30px 30px var(--green-light);
}




.baricon:hover {
  fill: var(--cream);
}
body {
  margin-left: 4rem;
  overflow-x: hidden;
}
.border-padding {
  padding: 1rem;
  padding-top: 3rem;
}


.heading {
  text-align: center;
  margin: 5rem 0;
  position: relative;
}

.heading span {
  background-color: white;
}

.heading:before{
  content:" ";
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0rem;
  background: var(--green-lightest);
  z-index: -2;
}

.heading:after{
  content:" ";
  display: block;
  height: 1px;
  width: 30%;
  position: absolute;
  top: 50%;
  right: 0rem;
  background: var(--green-lightest);
  z-index: -2;
}


@media (max-width: 500px) {
  .heading:before{
    width: 50px;
  }
  .heading:after{
    width: 50px;
  }
}

/* .heading:before,
.heading:after {
  display: inline-block;
  content: "";
  border-top: .1rem solid black;
  width: 4rem;
  margin: 0 1rem;
  transform: translateY(-1rem);
} */
