:root {
  /* Color palette */
  --green-darkest: #132a13;
  --green-dark: #31572c;
  --green-medium: #264322;
  --green-light: #4f772d;
  --green-lightest: #90a955;
  --cream: #ecf39e;

  /* shadow box */
  --shadow-box: 15px 15px var(--green-light);
}

.navbar {
  margin-left: 4rem;
  position: top;
  background-color: transparent;
  transition: background-color 1s ease;
}
.navbar.scrolled {
  background-color: var(--green-darkest);
}

#mediabar {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 65px;
  background-color: var(--green-medium);
  padding-top: 30px;
}
#mediabar a {
  color: #ddd;
  display: block;
  padding: 30px 0;
  text-align: center;
}

.baricon:hover {
  fill: var(--cream);
}
body {
  margin-left: 4rem;
  overflow-x: hidden;
}
.border-padding {
  padding: 1rem;
  padding-top: 3rem;
}
