:root {
  /* Color palette */
  --green-darkest: #132a13;
  --green-dark: #31572c;
  --green-medium: #264322;
  --green-light: #4f772d;
  --green-lightest: #90a955;
  --cream: #ecf39e;

  /* shadow box */
  --shadow-box: 30px 30px var(--green-light);
}

.navbar {
  margin-left: 4rem;
  position: top;
  background-color: transparent;
  transition: background-color 1s ease;
}
.navbar.scrolled {
  background-color: var(--green-darkest);
}

#mediabar {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 65px;
  background-color: var(--green-medium);
  padding-top: 30px;
}
#mediabar a {
  color: #ddd;
  display: block;
  padding: 30px 0;
  text-align: center;
}



.baricon:hover {
  fill: var(--cream);
}
body {
  margin-left: 4rem;
  overflow-x: hidden;
}
.border-padding {
  padding: 1rem;
  padding-top: 3rem;
}

.heading,
.page-heading {
  text-align: center;
  position: relative;
}

.heading {
  margin: 5rem 0;
}

.page-heading {
  margin: 7rem 0;
}

.heading span,
.page-heading span {
  background-color: white;
}

.heading:before,
.page-heading:before{
  content:" ";
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0rem;
  background: var(--green-lightest);
  z-index: -2;
}

.heading:after, 
.page-heading:after{
  content:" ";
  display: block;
  width: 30%;
  position: absolute;
  top: 50%;
  right: 0rem;
  background: var(--green-lightest);
  z-index: -2;
}

.heading:after,
.heading:before {
  height: 1px;
}

.page-heading:after,
.page-heading:before{
  height: 2px;
}
